/* レスポンシブ */
/* @media screen and (max-width:px){

} */
@media screen and (min-width:481px) and (max-width:780px){
    .header_link {
        font-weight: 600;
        font-size: 14px;
    }
    .child_word {
        font-size: 22px;
    }
    .content_services_intro {
        font-size: 15px;
    }
    .modal_content {
        width: 80%;
    }
    .brochures_select {
        font-size: 11px;
    }
}
@media screen and (max-width:480px){
    .responsive_none {
        display: none;
    }
    .section_title {
        font-size: 30px;
    }
    .header_link {
        font-weight: 900;
        font-size: 10px;
    }
    .child_word {
        font-size: 20px;
    }
    .content_services_intro {
        font-size: 12px;
    }
    .modal_content {
        width: 100%;
    }
    .brochures_select {
        font-size: 10px;
    }
}
