/* レスポンシブ */
/* @media screen and (max-width:px){

} */
@media screen and (min-width:481px) and (max-width:780px){
    .responsive_none {
        display: none;
    }
    .header_logo {
        width: 80px;
        height: 80px;
    }
    .section_title {
        font-size: 32px;
    }
    .header_link {
        font-weight: 600;
        font-size: 14px;
    }
    .child_word {
        font-size: 22px;
    }
    .content_services_intro {
        font-size: 15px;
    }
    .modal_content {
        width: 80%;
    }
    .brochures_select {
        font-size: 11px;
    }
    .members_img {
        width: 110px;
        height: 110px;
    }
    .content_members_img_block {
        margin: 0 15px;
    }
    .members_name {
        font-size: 16px;
    }
    .content_members_intro_block {
        font-size: 14px;
    }
    .content_recruits_occupation_name {
        font-size: 15px;
    }
    .content_recruits_occupation_detail {
        font-size: 14px;
    }
    .content_recruits_occupation_caution {
        font-size: 14px;
    }
}
@media screen and (max-width:480px){
    .responsive_none {
        display: none;
    }
    .header_logo {
        width: 55px;
        height: 55px;
    }
    .section_title {
        font-size: 30px;
    }
    .header_link {
        font-weight: 900;
        font-size: 10px;
    }
    .child_word {
        font-size: 20px;
    }
    .content_services_intro {
        font-size: 12px;
    }
    .modal_content {
        width: 100%;
    }
    .brochures_select {
        font-size: 10px;
    }
    .brochures_submit {
        width: 150px;
        height: 35px;
    }
    .members_img {
        width: 100px;
        height: 100px;
    }
    .content_members_img_block {
        margin: 0 5px;
    }
    .members_name {
        font-size: 14px;
    }
    .content_members_intro_block {
        font-size: 11px;
    }
    .content_recruits_occupation_name {
        font-size: 14px;
    }
    .content_recruits_occupation_detail {
        font-size: 12px;
    }
    .content_recruits_occupation_caution {
        font-size: 12px;
    }
    .contacts_submit {
        width: 150px;
        height: 35px;
    }
    .content_recruits_occupation_name_small {
        font-size: 10px;
    }
}
