/* ページ全体 */
body {
    font-size: 18px;
    font-weight: 500;
    overflow-x: hidden;
    margin: 0px;
}
/* ヘッダ/フッタ */
header {
    position: absolute;
    width: 100%;
    height: 45px;
    z-index: 100;
}
.header_flex_block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.footer_flex_block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link_block {
    margin: auto;
}
.header_link {
    text-decoration: none;
    font-weight: 600;
    color: #EDEAE9;
}
.copyright {
    font-size: 14px;
}
.header_logo {
    width: 100px;
    height: 100px;
}
/* コンテンツ全体 */
main {
    width: 100vw;
    margin: 0px;
}
.section_title {
    text-align: center;
    padding-top: 20px;
    font-size: 37px;
    font-weight: 900;
    margin: 0px 0px 20px 0px;
}
/* フォーム */
.contacts_form {
    position: relative;
	width: 60%;
	margin: 50px auto;
}
.brochures_form {
    position: relative;
	width: 60%;
	margin: 50px auto;
}
.contacts_form input[type='text'] {
	box-sizing: border-box;
    width: 100%;
    height: 50px;
	letter-spacing: 1px;
	padding-left: 6em;
}
.brochures_form input[type='text'] {
	box-sizing: border-box;
    width: 100%;
    height: 50px;
	letter-spacing: 1px;
	padding-left: 6em;
}
.contacts_form input[type='email'] {
	box-sizing: border-box;
    width: 100%;
    height: 50px;
	letter-spacing: 1px;
	padding-left: 6em;
}
.brochures_form input[type='email'] {
	box-sizing: border-box;
    width: 100%;
    height: 50px;
	letter-spacing: 1px;
	padding-left: 6em;
}
.contacts_form textarea {
	box-sizing: border-box;
    width: 100%;
    height: 70px;
	letter-spacing: 1px;
    padding-left: 6em;
    margin-top: 30px;
}
.brochures_form textarea {
	box-sizing: border-box;
    width: 100%;
    height: 50px;
	letter-spacing: 1px;
    padding-left: 6em;
    margin-top: 30px;
}
.brochures_form select {
	box-sizing: border-box;
    width: 100%;
    height: 40px;
	letter-spacing: 1px;
	padding-left: 6em;
}
.contacts_form input[type='text']:focus {
	outline: none;
}
.brochures_form input[type='text']:focus {
	outline: none;
}
.contacts_form input[type='email']:focus {
	outline: none;
}
.brochures_form input[type='email']:focus {
	outline: none;
}
.contacts_form textarea:focus {
	outline: none;
}
.brochures_form textarea:focus {
	outline: none;
}
.brochures_form select:focus {
	outline: none;
}
.contacts_input_text {
    padding: 4px 0px;
	border: 0;
	border-bottom: 1px solid #000000;
	background-color: transparent;
}
.brochures_input_text {
    padding: 4px 0px;
	border: 0;
	border-bottom: 1px solid #000000;
	background-color: transparent;
}
.contacts_input_text ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #008000;
}
.brochures_input_text ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #008000;
}
.contacts_input_text ~ .focus_line_textarea {
	bottom: 4px;
}
.brochures_input_text ~ .focus_line_textarea {
	bottom: 4px;
}
.contacts_input_text:focus ~ .focus_line,.contacts_form.contacts_input_text ~ .focus_line {
	width: 100%;
	transition: 0.4s;
}
.brochures_input_text:focus ~ .focus_line,.brochures_form.brochures_input_text ~ .focus_line {
	width: 100%;
	transition: 0.4s;
}
.contacts_input_text ~ label {
	position: absolute;
	z-index: -1;
	top: 2px;
	left: 0px;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
    color: #008000;
    font-size: 14px;
}
.brochures_input_text ~ label {
	position: absolute;
	z-index: -1;
	top: 2px;
	left: 0px;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
    color: #008000;
    font-size: 14px;
}
.contacts_input_text:focus ~ label, .contacts_form.contacts_input_text ~ label {
	font-size: 12px;
	top: -14px;
	transition: 0.3s;
	color: #6B8E23;
}
.brochures_input_text:focus ~ label, .brochures_form.brochures_input_text ~ label {
	font-size: 12px;
	top: -14px;
	transition: 0.3s;
	color: #6B8E23;
}
.contacts_submit {
    display:block;
    width: 250px;
    height:50px;
    line-height: 50%;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    background-color: #008000;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0px auto;
}
.brochures_submit {
    display:block;
    width: 250px;
    height:50px;
    line-height: 50%;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    background-color: #008000;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0px auto;
}
.contacts_submit:hover{
    background-color: #6B8E23;
}
.brochures_submit:hover{
    background-color: #6B8E23;
}
/* エラーメッセージ */
.error_messsage {
    color: red;
    font-size: 12px;
}
/* トップ */
.content_top {
    display: flex;
    height: 100vh;
    width: 100%;
}
.content_top_slide {
    height: 100%;
    width: 100%;
}
.content_top_slide_child{
    max-height: 100vh;
    width: 100%;
}
.child_img {
    min-width: 100vw;
}
.child_word {
    position: absolute;
    width: 70%;
    top: 30%;
    left: 17%;
    color: #ffffff;
    font-size: 27px;
    font-weight: 900;
    word-wrap: normal;
    z-index: 100;
}
/* ニュース */
.content_news {
    width: 80%;
    margin: 30px auto;
}
.content_news_contents {
    margin: 10px auto;
}
.content_news_flex {
    margin: 20px auto;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 15px;
}
.news_block {
    margin: 0px 30px;
}
.news_date {
    padding: 0.3em 0.7em;
    font-weight: 800;
    border-top: solid 5px #008000;
    border-bottom: solid 5px #008000;
}
.news_genre {
    font-weight: 800;
    padding: 0.3em 0.7em;
    background: #FFFFFF;
    border: solid 3px #008000;
    border-radius: 10px;
}
.news_content {
    padding: 0.3em 0.7em;
    font-weight: 800;
}
.news_link {
    text-decoration: none;
    color: blue;
}
.hr_separate {
    width: 70%;
}
/* サービス */
.content_services {
    min-height: 100vh;
    background-color: rgba(220, 220, 220, 0.3);
    padding-top: 30px;
    padding-bottom: 30px;
}
.content_services_enne {
    width: 70%;
    /* margin: 0px auto 0px 40px; */
    margin: 0px auto 0px auto;
    padding: 40px 10px;
    background-color: #ffffff;
    border-radius: 10%;
}
.content_services_yaoya {
    width: 70%;
    padding: 40px 10px;
    margin: 10px 40px 0px auto;
    background-color: #ffffff;
    border-radius: 10%;
}
.content_services_name {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #008000;
}
.content_services_url {
    text-decoration: none;
    color: #008000;
}
.content_services_intro {
    width: 90%;
    margin: 0px auto;
    font-size: 17px;
    line-height: 1.8em;
}
/* 資料請求モーダル */
.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 200;
}
.modal_bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal_content{
    background: #ffffff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 100%;
}
.modal_close_button {
    display: inline-block;
	width: 25px;
	height: 25px;
    position: absolute;
    top: 10%;
    right: 10%;
	border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
}
.modal_close_button span::before,
.modal_close_button span::after {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 84%;
	height: 16%;
	margin: -8% 0 0 -42%;
	background: #000000;
}
.modal_close_button span::before {
	transform: rotate(-45deg);
}
.modal_close_button span::after {
	transform: rotate(45deg);
}
/* 資料請求 */
.content_brochures_form {
    width: 80%;
    margin: 0px auto;
}
/* メンバー */
.content_members {
    width: 100%;
    max-height: 100vh;
    background-color: #ffffff;
    padding-bottom: 20px;
}
.content_members_img_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.content_members_block {
    width: 100%;
    margin: 10px 0px;
}
.content_members_img_block {
    margin: 0 35px;
}
.members_img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.content_members_intro_block {
    font-weight: 600;
    width: 80%;
    margin: 0px 10%;
}
.members_name {
    font-weight: 700;
    font-size: 20px;
}
/* メンバー募集 */
.content_recruits {
    width: 100%;
    height: 100vh;
    background-color: rgba(220, 220, 220, 0.3);
}
.content_recruits_occupation {
    width: 80%;
    margin: 10px auto;
    height: auto;
    display: flex;
}
.content_recruits_occupation_name {
    width: 35%;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 20px;
    color: #008000; 
}
.content_recruits_occupation_detail {
    width: 80%;
    font-weight: 600;
}
/* お問い合わせ */
.content_contacts {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.3);
    padding-bottom: 30px;
}
.content_contacts_form {
    width: 80%;
    margin: 0 auto;
}
